<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="Start your development with a Dashboard for Bootstrap 4.">
        <meta name="author" content="Creative Tim">
        <link rel="icon" type="image/png" href="<%= extra.faviconlink %>"/>
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
        <link href="../assets/argon/style.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@500&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Rubik&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <title> Atom development </title>
        <% if (settings.api.arcio.enabled == true) { %>
            <script async src="https://arc.io/widget.min.js#<%= settings.api.arcio.widgetid %>"></script>
        <% } %>
         <!-- Fonts -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700">
  <!-- Icons -->
  <link rel="stylesheet" href="../assets/argon/vendor/nucleo/css/nucleo.css" type="text/css">
  <link rel="stylesheet" href="../assets/argon/vendor/@fortawesome/fontawesome-free/css/all.min.css" type="text/css">
  <!-- Argon CSS -->
  <link rel="stylesheet" href="../assets/argon/css/argon.css?v=1.2.0" type="text/css">
    </head>
    <body class="bg-default">
        <!-- Navbar -->
        <nav id="navbar-main" class="navbar navbar-horizontal navbar-transparent navbar-main navbar-expand-lg navbar-light">
          <div class="container">
            <a class="navbar-brand" href="dashboard.html">
              Atom development
            </a>
        </div>
        </nav>
        <!-- Main content -->
        <div class="main-content">
          <!-- Header -->
          <div class="header bg-gradient-primary py-7 py-lg-8 pt-lg-9">
            <div class="container">
              <div class="header-body text-center mb-7">
                <div class="row justify-content-center">
                  <div class="col-xl-5 col-lg-6 col-md-8 px-5">
                    <h1 class="text-white">Atom development </h1>
                    <p class="text-lead text-white"></p>
                  </div>
                </div>
              </div>
            </div>
            <div class="separator separator-bottom separator-skew zindex-100">
              <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
                <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
              </svg>
            </div>
          </div>
          <!-- Page content -->
          <div class="container mt--8 pb-5">
            <div class="row justify-content-center">
              <div class="col-lg-5 col-md-7">
                <div class="card bg-secondary border-0 mb-0">
                  <div class="card-header bg-transparent pb-5">
                    <center>
                       
                            
                                <h4 class="card-title"></h4>
                                <br>
                                <a href="<%= userinfo ? extra.home.buttontext.loggedin.link : extra.home.buttontext.loggedout.link %>"  class="btn btn-primary" ><img src="https://i.imgur.com/EYGXn9D.png" width="25" /> Login with discord</a> <br />
                                    <br />
                                    By logging in, you accept our terms of service and our privacy policy.
                                
                                </div>
                                <br />
                                <br />
                            
                    </center>
              </div>
            </div>
          </div>
        </div>
     
        <!-- Argon Scripts -->
        <!-- Core -->
        <script src="../assets/argon/vendor/jquery/dist/jquery.min.js"></script>
        <script src="../assets/argon/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="../assets/argon/vendor/js-cookie/js.cookie.js"></script>
        <script src="../assets/argon/vendor/jquery.scrollbar/jquery.scrollbar.min.js"></script>
        <script src="../assets/argon/vendor/jquery-scroll-lock/dist/jquery-scrollLock.min.js"></script>
        <!-- Argon JS -->
        <script src="../assets/argon/js/argon.js?v=1.2.0"></script>
      </body>
</html>
